.topicButton {
  position: relative;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  transition: all 0.2s ease-in-out;
  letter-spacing: 0.4px;
}

.topicButton:hover {
  transform: translateY(-1px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.disabled {
  opacity: 0.7;
  background-color: #f3f4f6 !important;
}

.disabled::before {
  content: "";
  position: absolute;
  left: -5%;
  bottom: 0;
  width: 145%;
  height: 0;
  border-bottom: 2px solid #4b5563;
  transform-origin: bottom left;
  transform: rotate(135deg);
  pointer-events: none;
}
