@tailwind base;
@tailwind components;
@tailwind utilities;

.post-banner-image img {
  margin: 0 !important;
}

.post-title-wrapper h1 {
  margin: 0 !important;
}

.modal-dialog {
  position: relative;
  width: 100%;
  max-width: 500px;
  max-height: 90vh;
  outline: none;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.modal-dialog::-webkit-scrollbar {
  width: 8px;
}

.modal-dialog::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 12px;
}

.modal-dialog::-webkit-scrollbar-thumb {
  background: rgba(92, 122, 153, 0.5);
  border-radius: 12px;
}

.modal-dialog::-webkit-scrollbar-thumb:hover {
  background: rgba(92, 122, 153, 0.7);
}

@media (max-width: 640px) {
  .modal-dialog {
    max-width: 90%;
    max-height: 80vh;
  }
}
